<%- include("includes/header"); -%>

<h2 class="border-bottom border-dark mb-5"><%=otsikko%></h2>

<div class="col-md-12">
    <% let i = 0; %>
    <% kirjoitukset.forEach((kirjoitus) => { %>
        <% i++; %>
        <% let aika = new Date(kirjoitus.aikaleima);%>
    
    <h4 class="text-primary mt-5">
        <%=kirjoitus.otsikko%>
    </h4>
    <p class="text-secondary">
        <%=aika.getDate()%>.<%=aika.getMonth()+1%>.<%=aika.getFullYear()%> <%=aika.getHours()%>:<%=aika.getMinutes()%></br>
        Kirjoittanut: <%=kirjoitus.kirjoittaja%>
    </p>
    <p class="mt-4">
        <%-kirjoitus.viesti%>
    </p>
    <div class="col-md-4">
    <form class="form-group" method="POST" action="/tykkays">
        <button class="btn btn-success form-control" value="<%=kirjoitus.otsikko%>" name="tykattyotsikko" type="submit">Hyvin sanottu (<%=kirjoitus.tykkaykset%>)</button>
    </form>
    <form class="form-group" method="POST" action="/eitykkays">
        <button class="btn btn-secondary form-control" value="<%=kirjoitus.otsikko%>" name="eitykattyotsikko" type="submit">En ole samaa mieltä (<%=kirjoitus.eitykkaykset%>)</button>
    </form>
    </div>
    <% }); %>
</div>
<%- include("includes/footer") -%>